@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-text: #111;
  --color-background: #eee;
}


/****************/
/* JOUW STYLING */
/****************/

html, body {
  margin: 0;
  padding: 0;
  width: 100%; 
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}


header section {
	padding: 10px 0;
	text-align: center;
	background-color: black;
	color: white;
}

header section p {
	display: flex;
	justify-content: center;
	background-color: black;
	color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: 300;
	font-size: 0.9em;
}

nav {
  background-color: white;
  padding: 10px 20px;
}

.navbar {
	position: fixed;
	top: 0; 
	left: 0; 
	width: 100%;  
	z-index: 10;
	display: flex;
	justify-content: center;
	background-color: white;
  }

.navbar ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar li {
  padding: 10px;
  list-style-type: none;
  margin-left: 8px;
}

.navbar li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.navbar li img {
  height: 25px;
}

.navbar li.spalding-logo {
	flex-grow: 1; 
	display: flex;
	justify-content: center; 

  }
  
  .navbar li.spalding-logo img {
	height: 60px; 
  }

  .hamburger-menu {
    display: none; 
    position: fixed; 
    background-color: white;
    top: 0;
    left: 0; 
    width: 80%; 
    height: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 999; 
    transition: transform 0.3s ease; 
    transform: translateX(100%); 
}

.hamburger-menu.active {
    display: block; 
    transform: translateX(0); 
}

.hamburger-menu ul {
    list-style: none;
    padding: 60px 0 0 0;
    margin: 0; 
	display: flex;
	flex-direction: column;
	align-items: start;
	border-bottom: 1px solid #ddd;
}

.hamburger-menu li {
    padding: 20px; 
     

}

.hamburger-menu li a {
    text-decoration: none;
    color: black; 
    display: block; 
}

.hamburger-menu .close-button {
    background: none; 
    border: none;
    font-size: 24px; 
    color: black; 
    position: absolute; 
    top: 20px; 
    right: 20px;
	width: calc(100% - 40px);
}

.hamburger-menu .close-button::after {
    content: ""; 
    display: block;
    height: 1px; 
    background: #ddd; 
    margin-top: 5px; 
}

.section1 {
  padding-top: 10px;
  display: grid;
  position: relative;
  height: 80vh; 	
  overflow: hidden;
}

.section1 img {
  grid-area: 1 / 1;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: 80% 30%;
  clip-path: inset(5% 0 0 0);
  filter: brightness(0.9);
}

.section1 h1, .section1 p {
  grid-area: 1 / 1;
  color: white;
  text-align: left;
  padding: 20px;
  margin: 0;
  z-index: 1;
  margin-top: 15px;
}

.section1 h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.2em;
}

.section1 p {
  font-weight: 250;
  margin-top: 150px;
  font-size: 1.5rem;
}

.shop-button {
	display: inline-block;
    padding: 10px 20px;
    background-color: white; 
    color: black; 
    text-decoration: none;  
    position: absolute; 
    bottom: 120px;
    left: 20px; 
	font-weight: 300;
    transition: background-color 0.6s; 
    z-index: 2; 
}

.shop-button:hover {
    background-color: black;
	color: white;
}

@media (max-width: 768px) {
  .section1 h1 {
    font-size: 3rem;
  }

  .section1 p {
    font-size: 1.5rem;
  }

  .navbar {
    flex-direction: row; /* Zorg dat alles netjes naast elkaar blijft */
  }

  .navbar img {
    height: 50px; /* Pas de grootte van de afbeeldingen aan voor mobiel */
  }

  .section1 img {
    width: 100vw; /* Zorg dat het zich volledig aanpast aan de viewport */
  }
}

main section section:nth-of-type(1) {
	display: grid;
	position: relative;
	height: 80vh;
	margin-top: 60px;
}

main section section:nth-of-type(1) img {
	max-width: 375px;
	margin-left: 20px;
}

main section section:nth-of-type(1) h2 {
	position: absolute;
	top: 260px;
	left: 40px;
	color: white;
	z-index: 2;
}

main section section:nth-of-type(1) a {
	display: inline-block;
    padding: 10px 20px;
    background-color: white; 
    color: black; 
    text-decoration: none;  
    position: absolute; 
    top: 310px;
    left: 33px; 
	font-weight: 200;
    transition: background-color 0.6s; 
    z-index: 2; 
}

main section section:nth-of-type(2) {
	display: grid;
	position: relative;
	height: 80vh;
	margin-top: -300px;
}

main section section:nth-of-type(2) img {
	max-width: 375px;
	margin-left: 20px;
}

main section section:nth-of-type(2) h2 {
	position: absolute;
	top: 260px;
	left: 40px;
	color: white;
	z-index: 2;
}

main section section:nth-of-type(2) a {
	display: inline-block;
    padding: 10px 20px;
    background-color: white; 
    color: black; 
    text-decoration: none;  
    position: absolute; 
    top: 310px;
    left: 33px; 
	font-weight: 200;
    transition: background-color 0.6s; 
    z-index: 2; 
}

main section section:nth-of-type(3) {
	display: grid;
	position: relative;
	height: 80vh;
	margin-top: -300px;
}

main section section:nth-of-type(3) img {
	max-width: 375px;
	margin-left: 20px;
}

main section section:nth-of-type(3) h2 {
	position: absolute;
	top: 260px;
	left: 40px;
	color: white;
	z-index: 2;
}

main section section:nth-of-type(3) a {
	display: inline-block;
    padding: 10px 20px;
    background-color: white; 
    color: black; 
    text-decoration: none;  
    position: absolute; 
    top: 310px;
    left: 33px; 
	font-weight: 200;
    transition: background-color 0.6s; 
    z-index: 2; 
}

main section section:nth-of-type(4) {
	display: grid;
	position: relative;
	height: 80vh;
	margin-top: -300px;
}

main section section:nth-of-type(4) img {
	max-width: 375px;
	height: 380px;
	margin-left: 20px;
}

main section section:nth-of-type(4) h2 {
	position: absolute;
	top: 260px;
	left: 40px;
	color: white;
	z-index: 2;
}

main section section:nth-of-type(4) a {
	display: inline-block;
    padding: 10px 20px;
    background-color: white; 
    color: black; 
    text-decoration: none;  
    position: absolute; 
    top: 310px;
    left: 33px; 
	font-weight: 200;
    transition: background-color 0.6s; 
    z-index: 2; 
}

.section2 h2 {
	text-align: center;
	padding-bottom: 20px;
	position: relative;
	background-color: white;
}

.section2 {
    position: relative;
	overflow: hidden;
	margin-top: -17em;
}

.gallery-header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4em; /* Ruimte tussen de buttons en de titel */
  }
  
  button.slide-left, button.slide-right {
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
  }

.section2 ul{
	display: flex;
	transition: transform 0.5s ease;	
	width: max-content;
	padding-left: 11vw;
	padding-right: 11vw;
}

.section2 ul li {
	width: 80vw;
	flex-shrink: 0;
	padding: 10px;
	list-style-type: none;
}

.section2 img {
	width: 100%;
}

section div {
	margin-top: 5em;
}

section div h2 {
	display: flex;
	justify-content: center;
	background-color: lightgrey;
	padding-top: 1.4em;
	padding-bottom: 1.4em;
	font-weight: 700;
	font-size: 1.3em;
}

section div img {
	max-width: 13em;

}	

section div ul {
	display: flex;
	list-style-type: none;
	gap: 1px;
}




/*footer*/

footer {
	background-color: black;
	color: white;
	padding: 40px 20px;
  }

  
  footer h2 {
	font-size: 1.2rem;
	margin-bottom: 5px;
	font-weight: 600;
	margin-top: 50px;
  }
  
  footer ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	list-style-type: none;	
	padding: 0;
  }
  
  footer ul li {
	margin-bottom: 10px; /* Dit zorgt voor ruimte tussen de lijstitems */
  }
  
  footer ul li a {
	color: white;
	text-decoration: none;
	font-size: 0.9rem;
  }
  
  footer section input[type="email"] {
	padding: 15px;
	border: none;
	margin-top: 10px;
	width: 100%;
	font-size: 1em;
  }
  
  footer section button {
	padding: 12px 25px;
	background-color: white;
	color: black;
	border: none;
	cursor: pointer;
	margin-top: 10px;
	transition: background-color 0.3s;
	font-size: 1em;
	font-weight: 400;
  }	
  
  footer section button:hover {
	background-color: #ddd; /* Lighten button on hover */
  }
  
  footer section img {
	max-width: 40px;
	margin: 10px 5px;
  }